<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <connectionStrings>
    <add name="s2017130918" connectionString="Data Source=DESKTOP-E4641QF;Initial Catalog=s2017130918;Integrated Security=True" providerName="System.Data.SqlClint"/>
  </connectionStrings>
</configuration>
